@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --primary-color: rgb(17, 86, 102);
}

* {
    box-sizing: border-box;
    outline: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-color);
}

.container {
    max-width: 640px;
    margin:50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 20px;
    height: 30px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color) ;
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(9, 50, 44);
}

form button:active {
    background-color: rgb(20, 56, 110);
}
.calculadora {
    width: 300px;
}
.display {
    font-size: 1.5em;
    width: 100%;
    text-align: right;
}
.btn{
    width: 100% ;
    height: 30px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;

}

.btn:hover {
    background: #6e6e6e82;
}
.btn-eq {
    background: #6e6e6e82;
    
}
.btn-eq:hover {
    background: #000000b8;
    color: white;
    
}